<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <meta name="author" content="Maksudul Haque" />
        <title>
            Banking System
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


    </head>
    <body class="bg-gray-100">

            <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Banking System</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">

            <div class="text-md lg:flex-grow"></div>
            <div>
                <a href="/moneypay/logout/" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Logout</a>
            </div>

    </div>
</nav>
            <div class="lg:container lg:mx-auto">

<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Hi {{user.first_name}}, Your Current Balance is : {{balance.balance}} </h1>
<hr>
<div class="w-full mt-10">

<!--        <input type="hidden" name="csrfmiddlewaretoken" value="0zXiTBJ99sRMsCCo7DbNHfcbIJaFe3poBJkfgbu023EH0ykGtnNRKm4R2jMGA21n">-->


        <div class="mb-4 flex items-center justify-between" style="display: flex; justify-content: center; align-items: center; height: 100px; border: 3px  ;">
            <a href="/moneypay/money_transfer/">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                     Money Transfer
                </button>
            </a>
        </div>
        <div class="mb-4 flex items-center justify-between" style="display: flex; justify-content: center; align-items: center; height: 100px; border: 3px  ;">
            <a href="/moneypay/user_transaction/">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Transaction
                </button>
            </a>
        </div>


</div>
            </div>
            <footer class="footer bg-gray-200 relative pt-1 border-b-2 mt-10">
    <div class="container mx-auto px-6">
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-md text-gray-900 font-bold mb-2">
                    © 2023 by <button onclick="window.open('https://github.com/harsh-u', '_blank')">Harsh-U</button>
                </p>
            </div>
        </div>
    </div>
</footer>




    </body>
</html>